body,
html {
    overflow-x: hidden
}
.newsletter-box p {
    padding: 5px
}
.newsociallogins {
    text-align: left!important
}
.login h3 {
    font-size: 18px;
    text-align: left!important
}
.ph-mob-menu-pop {
    margin-top: 65px;
    width: 100%;
    position: absolute;
    top: 56px;
    padding: 0
}
.grid {
    width: 960px;
    display: block;
    margin: 0 auto
}
#header-container {
    margin-bottom: 30px;
    overflow: hidden
}
#body-container {
    clear: both;
    overflow: hidden
}
#navigation ul {
    list-style: none;
    margin: 0;
    padding: 0
}
#navigation li {
    float: left;
    list-style: none;
    margin-right: 10px
}
.reddit-img {
    width: 75%!important;
    height: 150px!important
}
.page-hunt .me img {
    width: 205px
}
.dump {
    margin-top: 135px!important
}
.entry-content {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.42857143;
    color: #333;
    text-align: justify
}
.tag-line {
    color: #999;
    font-size: 16px!important;
    font-weight: 500!important
}
.wp-caption-text {
    font-size: 12px;
    color: #d3d3d3;
    font-style: italic;
    margin-top: 9px
}
.user img {
    width: 30px;
    border-radius: 15px
}
.author-tool img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 15px;
    margin-top: 6px
}
.smenu {
    border-top: 1px solid #e4e2e2;
    border-bottom: 1px solid #e4e2e2;
    position: absolute;
    width: 100%;
    background: #898989;
    color: #000;
    height: 40px
}
.post-show {
    padding: 0 40px 30px
}
.new-post-wrapper {
    background: #fcf5e2;
    margin-bottom: 25px;
    padding: 25px 30px 30px
}
.new-post-modal-close .fa-times {
    color: #c9c7c7;
    padding: 10px
}
#menu-header {
    padding-left: 0!important
}
.new-post-modal-close {
    border-radius: 3px 0 0 3px;
    display: none;
    height: 40px;
    line-height: 42px;
    background: #edeceb!important;
    right: 699px;
    width: 35px;
    z-index: 101;
    position: fixed;
    top: 10px;
    cursor: pointer
}
.new-post-modal-close:hover {
    border-radius: 3px 0 0 3px;
    display: block;
    height: 40px;
    line-height: 42px;
    background: red!important;
    right: 699px;
    width: 35px;
    z-index: 101;
    position: fixed;
    top: 10px;
    cursor: pointer
}
.smenu li a {
    color: #000;
    height: 38px;
    line-height: 40px;
    margin-bottom: -1px;
    display: inline-block;
    text-decoration: none
}
.smenu .current-menu-item {
    color: #534540;
    border-bottom-color: #fff
}
.smenu li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 3px solid transparent
}
.cfooter ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}
.nomc {
    padding-top: 40px
}
.cfooter ul li {
    display: inline;
    float: left;
    text-align: center;
    padding: 10px
}
.cim {
    padding-top: 5px
}
.cfooter {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 -1px 0 0 rgba(83, 69, 64, 0.16), 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
    bottom: 0;
    height: 48px;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 50;
    margin: auto
}
.phshare {
    text-align: center;
    width: 100%;
    position: relative;
    left: 30%;
    margin: auto
}
.featured-category-image {
    text-align: center;
    padding-top: 120px
}
.ph_collections {
    float: left;
    position: relative;
    top: 7px;
    padding-right: 20px
}
.phd {
    font-size: 24px;
    font-weight: 700;
    position: relative;
    top: 4px;
    padding-left: 10px;
    padding-right: 10px
}
.phmenu {
    position: relative;
    top: -6px
}
.newsletter-box input[type=submit] {
    margin-top: 10px
}
.phnotify {
    padding-right: 10px;
    position: relative;
    top: -7px
}
.phlogin {
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 18px;
    -webkit-transition: all, .15s;
    -moz-transition: all, .15s;
    -ms-transition: all, .15s;
    -o-transition: all, .15s;
    transition: all, .15s;
    margin-top: 20px;
    padding: 6px 20px
}
.phlogin:hover {
    color: #fff
}
.phmiddle {
    text-align: center
}
.phbold {
    font-size: 1.5em;
    -webkit-margin-before: .83em;
    -webkit-margin-after: .83em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: 700
}
.ph-sticky {
    background: #fcf5e2;
    border-radius: 20px;
    margin-bottom: 20px;
    display: none;
    padding: 10px 15px 10px 10px
}
.img-featured img {
    float: right;
    width: 50px;
    height: 50px
}
.hunt-row-fp {
    padding: 10px
}
.icon-xy {
    color: #E8E1CE;
    float: right;
    cursor: pointer
}
.new-post-success {
    display: none;
    background: #fcf5e2!important;
    padding: 20px
}
.container-tabs {
    background: #534540
}
.new-post-button,
.yesvote,
.upmod,
.dot,
.likes {
    color: #da552f
}
.upmod .fa {
    color: #da552f!important
}
.empty {
    height: 50px
}
.bottom_pad {
    padding-bottom: 40px
}
body {
    font-size: 17px;
    display: block;
    font-family: proxima-nova, 'Proxima Nova', sans-serif
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 5px;
    margin-top: 10px;
    border: 1px solid transparent
}
.brand--logo {
    float: left;
    margin-right: 8px;
    margin-top: 3px
}
.topnav-options {
    margin-top: 8px;
    width: 40%
}
.dropdown-toggle:hover {
    text-decoration: none
}
.site--header {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 1px 0 0 rgba(83, 69, 64, 0.16), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50
}
.site--header.headroom--pinned {
    transform: translateY(0)
}
h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: .67em;
    -webkit-margin-after: .67em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: 700
}
.brand .brand--title {
    float: left;
    font-family: proxima-nova, 'Proxima Nova', sans-serif
}
.search-logged {
    margin-right: 10px
}
.newsletter-box.well p {
    display: inline-block;
    margin: 0
}
.newsletter-box form {
    margin-left: 16px;
    display: inline-block
}
.newsletter-box form input[type="submit"] {
    -webkit-appearance: none
}
input,
textarea,
select {
    font-size: 14px;
    background: #fff;
    border: 2px solid #ddd;
    border-radius: 3px;
    -webkit-transition: all, .15s;
    -moz-transition: all, .15s;
    -ms-transition: all, .15s;
    -o-transition: all, .15s;
    transition: all, .15s;
    margin: 0;
    padding: 7px
}
.search-box input,
.search-box textarea {
    width: 150px;
    border-radius: 40px;
    background: #FFF;
    padding-left: 15px;
    border: 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.11), inset 0 0 0 1px rgba(0, 0, 0, 0.13)
}
.inputfield {
    background: #f7f7f7;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #e2e2e2;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada
}
.button,
input[type=submit],
textarea[type=submit],
select[type=submit],
button[type=reset],
[data-tooltip-container] .cancel-persistent-tooltip {
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 18px;
    -webkit-transition: all, .15s;
    -moz-transition: all, .15s;
    -ms-transition: all, .15s;
    -o-transition: all, .15s;
    transition: all, .15s;
    padding: 6px 20px
}
.smenu-mobile {
    position: absolute;
    top: 57px;
    width: 100%;
    background: #000
}
.newsletter-box {
    display: block;
    text-align: center
}
.well,
.u-well {
    background: #f2f2f2;
    margin-top: 19px;
    border-radius: 5px;
    padding: 10px
}
.page {
    margin-top: 50px
}
.newsletter-box.well {
    margin-left: 10px;
    margin-right: 10px;
    background: #f2f2f2;
    font-size: 17px;
    padding: 12px 0
}
.newsletter-box form #subscriber_email {
    background: #FFF;
    margin-right: 16px;
    width: 170px
}
.brand-head {
    width: 60%;
    float: left
}
.brand h1 {
    color: #da552f
}
.brand h2 {
    color: #999;
    font-size: 18px;
    font-weight: 500
}

.hunt-row {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px
}
.post-meta-hunt {
    margin-top: 10px;
    margin-bottom: 8px;
    float: right
}
.hunt-row:hover {
    background: #fcf5e2;
    cursor: pointer
}
.arrow,
.arrow2 {
    position: absolute;
    left: 6px;
    top: -3px
}
.likes,
.unvoted {
    position: absolute;
    top: 17px;
    text-align: center;
    font-weight: 700
}
.comment-icon {
    float: left;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 20px;
    margin-top: 8px;
    color: #edeceb
}
.hunt-comm-count {
    font-size: 12px
}
.maincontent {
    margin-top: 4px
}
.comment-icon .fa {
    color: #edeceb
}
.score {
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
    display: block;
    width: 100%;
    left: 0
}
.reddit-voting {
    position: relative;
    margin-top: 5px;
    width: 30px;
    height: 42px;
    text-align: center;
    cursor: pointer;
    background: #edeceb;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(83, 69, 64, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: background .1s ease;
    -moz-transition: background .1s ease;
    -ms-transition: background .1s ease;
    -o-transition: background .1s ease;
    transition: background .1s ease;
    float: left;
    margin-right: 20px;
    padding: 0 1px
}
.show-post-modal .modal-container,
.new-post-modal .modal-container,
.show-notification-modal .modal-container {
    position: relative;
    min-height: 100%
}
.comments-header {
    padding-top: 10px;
    background: #fdf7ea
}
.comments-header .top {
    overflow: hidden
}
.comments-header .top .post-user {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 40px
}
.comments-header .top .posted-by {
    float: left;
    font-size: 14px;
    color: #b3a9a0;
    margin: 8px 0 0 10px
}
.comments-header .share-buttons {
    padding-right: 15px;
    position: relative;
    top: 1px
}
.comments-header .top .border {
    margin-top: 10px;
    border-bottom: 1px solid #f5ede2
}
.comments-header .bottom {
    overflow: visible;
    padding: 15px
}
.comments-header .bottom .product-top {
    overflow: hidden;
    display: inline
}
code {
    font-size: 90%;
    color: #c7254e;
    white-space: normal;
    background-color: #f9f2f4;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 2px 4px
}
#comment {
    width: 100%
}
.clearfix {
    clear: both
}
.user {
    float: left;
    margin-right: 5px
}
.upvotes h2 {
    color: #bbb;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .5px;
    margin: 10px 0 0
}
.hopt {
    top: -2px;
    position: relative
}
.subhead {
    color: #bbb;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .5px;
    margin-bottom: 20px
}
.vote-count {
    margin-top: -5px
}
.new-post-button {
    margin-left: 20px;
    cursor: pointer;
    font-size: 30px;
}
.user-image-container {
    float: right;
    margin-top: -10px
}
.comment .comment-user-name {
    font-size: 18px;
    display: inline;
    margin: -2px 0 0
}
.comment .upvote {
    border-radius: 3px;
    display: inline-block;
    float: right;
    height: 44px;
    margin-right: 14px;
    margin-top: -2px;
    position: relative;
    z-index: 2
}
.upvote {
    width: 30px;
    height: 42px;
    text-align: center;
    cursor: pointer;
    background: #edeceb;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(83, 69, 64, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: background .1s ease;
    -moz-transition: background .1s ease;
    -ms-transition: background .1s ease;
    -o-transition: background .1s ease;
    transition: background .1s ease;
    padding: 0 1px
}
.showing-discussion .container,
.showing-notifications .container {
    opacity: .3;
    right: 50px;
    overflow-y: none
}
.page-hunt {
    background: #534540;
    color: #FFF;
    margin-top: 120px;
    padding-top: 20px
}
.twitter-rounded {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}
.page-hunt .twitter-rounded {
    float: left;
    margin-right: 20px
}
.page-hunt .me {
    padding-bottom: 30px;
    padding-top: 10px
}
.modal-loading {
    font-size: 33px;
    color: #a8a8a8;
    text-shadow: 1px 1px #e0e0e0;
    font-weight: 700;
    opacity: .5;
    padding: 20px
}
.tab-content {
    background-color: #FFF;
    color: #000;
    padding: 10px
}
.new-post input {
    width: 97%;
    margin-top: 10px;
    height: 30px
}
.new-post input[type=submit] {
    width: 150px;
    height: 35px
}
.hunt {
    margin-top: 19px;
    padding: 10px
}
.date {
    color: #bbb;
    font-weight: 100;
    display: inline-block;
    padding-top: 4px;
    position: relative
}
.day {
    color: #534540;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    font-size: 24px;
    margin: 0 8px 0 0
}
.timing {
    color: #bbb;
    font-weight: 100;
    display: inline-block;
    padding-top: 4px;
    position: relative;
    padding-bottom: 15px
}
.fa-search {
    float: left;
    font-size: 22px;
    margin-top: 8px;
    margin-right: 10px;
    cursor: pointer
}
.novote .fa,
.novote .score .up,
.up .fa {
    color: #000
}
.comment-user-name,
h2 {
    font-family: proxima-nova, 'Proxima Nova', sans-serif
}
a:hover,
a,
.brand a,
.brand a:hover {
    color: #da552f;
    text-decoration: none
}
.show-post-modal,
.new-post-modal,
.show-notification-modal,
.new-post-modal,
.show-notification-modal {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 700px;
    background: #fff;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    opacity: 1;
    overflow-y: scroll;
    -webkit-transition: all, .2s;
    -moz-transition: all, .2s;
    -ms-transition: all, .2s;
    -o-transition: all, .2s;
    transition: all, .2s;
    padding: 0
}
.ph-modal,
.new-post-form {
    padding: 0 40px
}
.comments-header .socialbuttons,
.user-votes {
    margin-top: 5px
}
.ph-sticky .description,
.reddit-post .description,
.reddit-post-2 .description,
.reddit-post-mob .description {
    color: #999;
    font-size: 17px;
    display: block;
    margin: 0
}
.ph-sticky .title,
.post .url .title,
.reddit-post .title,
.reddit-post-2 .title,
.reddit-post-mob .title {
    text-decoration: none;
    color: #534540;
    font-size: 20px;
    font-weight: 600;
    margin: 0
}
.ph-search,
.img-featured,
.comments-header .socialbuttons,
.comments-header .share-buttons {
    float: right
}

.new-post-modal-close .fa-times:hover,
.phco {
    color: #fff;
    padding: 10px
}
.smenu ul,
.dropdown {
    list-style-type: none
}
.new-post-wrapper .new-post-header,
.new-post-success .new-post-header {
    color: #bbb;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase
}
.new-post-wrapper .new-post-subheader,
.new-post-success .new-post-subheader {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin-top: 4px
}
.smenu .menu-item a {
    color: #988f8c!important
}
.smenu .current-menu-item a {
    color: #000!important
}
.wp-post-image,
.author-ava {
    float: left
}
.hideme,
.next-posts-link,
#infscr-loading img,
.down,
.show-post-modal,
.new-post-modal {
    display: none
}
.navbar-ph-second {
    margin-top: 65px!important;
    box-shadow: 0 1px 0 0 rgba(83, 69, 64, 0.16), 0 1px 2px 0 rgba(0, 0, 0, 0.1)
}
#epic_page_end,
#epic_page_end_2 {
    color: #ddd;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-top: 0;
    padding-bottom: 40px
}
.site-logo img {
    height: 40px
}
.blog-name {
    margin-top: 7px!important;
    font-size: 17px!important
}
.tag-line {
    display: none!important
}
@media max-width 320px {
    .tag-line {
        display: none!important
    }
    .container {
        width: 100%!important
    }
    .new-post-button {
        margin-left: 20px;
        cursor: pointer;
        font-size: 30px;
        right: 10px;
        position: absolute;
        bottom: 0;
    }
    .brand-head {
        width: 90%;
        float: left
    }
    .topnav-options {
        margin-top: 8px;
        width: 45%
    }
    .newsletter-box.well p {
        display: inline-block;
        font-size: 18px;
        margin: 0
    }
    #mce-EMAIL {
        margin-bottom: 10px
    }
    .reddit-post,
    .reddit-post-2,
    .reddit-post-mob {
        width: 80%!important
    }
    .reddit-post-mob {
        width: 80%!important
    }
    .reddit-post-mob .title {
        font-size: 16px;
        margin: 0
    }
    .reddit-post-mob .description {
        font-size: 13px;
        display: block;
        margin: 0
    }
    .author-tool img {
        display: none
    }
    .date {
        text-align: center;
        width: 100%;
        padding-top: 0
    }
    .timing {
        width: 100%
    }
    .newsletter-box.well {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 115px;
        background: #f2f2f2;
        font-size: 17px;
        padding: 12px 0
    }
    .phmenu {
        position: relative;
        top: -6px
    }
    .day,
    .ph-search {
        width: 100%;
        text-align: center
    }
}
@media only screen and max-device-width 480px,
only screen and min-device-width 560px {
    .tag-line {
        display: none!important
    }
    .container {
        width: 100%!important
    }
    .new-post-button {
        margin-left: 20px;
        cursor: pointer;
        font-size: 30px;
        right: 10px;
        position: absolute;
        bottom: 0
    }
    .brand-head {
        width: 90%;
        float: left
    }
    .topnav-options {
        margin-top: 8px;
        width: 45%
    }
    .newsletter-box.well p {
        display: inline-block;
        font-size: 18px;
        margin: 0
    }
    #mce-EMAIL {
        margin-bottom: 10px
    }
    .reddit-post,
    .reddit-post-2,
    .reddit-post-mob {
        width: 80%
    }
    .reddit-post-mob .title {
        font-size: 16px;
        margin: 0
    }
    .reddit-post-mob .description {
        font-size: 13px;
        display: block;
        margin: 0
    }
    .author-tool img {
        display: none
    }
    .date {
        text-align: center;
        width: 100%;
        padding-top: 0
    }
    .timing {
        width: 100%
    }
    .newsletter-box.well {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 115px;
        background: #f2f2f2;
        font-size: 17px;
        padding: 12px 0
    }
    .phmenu {
        position: relative;
        top: -6px
    }
    .day,
    .ph-search {
        width: 100%;
        text-align: center
    }
}
.page-header--navigation--tab {
    display: block!important
}
.page-header--avatar {
    position: relative;
    display: block;
    width: 110px;
    height: 110px;
    width: 100%!important;
    margin: auto auto 0!important;
    text-align: center
}
.page-header--info {
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
    text-align: center
}
.new-post-modal,
.show-notification-modal,
.show-post-modal {
    width: 100%!important
}
.reddit-post {
    width: 80%
}

.buy-me{
	background: red;
    padding: 5px;
    color: white;
    border-radius: 5px;
    width:90%;
    margin-left: 8px !important;
}

.low-blow{
	width:100%;
}

.ph-layout-2 .description{
	width:100%;
}

.ph-layout-2 .post-info{
	width:100%;
}


.grid_layout .ph-layout-2 .hunt-row {
    width: 351px;
    float: left;
    margin-right: 5px;
    position: relative;
    min-height: 350px;
    text-align: center;
    background-color: #eceae9;
    margin-left: 9px !important;
    margin-bottom: 9px;
}

.grid_layout .ph-layout-2 .wp-post-image {
    margin-right: 15px;
    height: 150px;
    width: 330px;
    margin-bottom: 5px;
}

.grid_layout .ph-layout-2 .description {
    font-size: 12px;
    width: 100%;
    text-align: center;
}

.grid_layout .ph-layout-2 .reddit-post {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .side-collapse-container {
        width: 100%;
        position: relative;
        left: 0;
        transition: left .4s
    }
    .side-collapse-container.out {
        left: 200px
    }
    .side-collapse {
        top: 50px;
        bottom: 0;
        left: 0;
        width: 200px;
        position: fixed;
        overflow: hidden;
        transition: width .4s
    }
    .side-collapse.in {
        width: 0
    }
}

@media and (max-width: 300px) {
    .post-title-single {
        font-size: 20px!important
    }
}
@media screen and (max-width: 700px) {
    .col-md-8 .ph-lhs,
    .post-detail .aside {
        width: 100%!important
    }
    .brand h1,
    .brand h2,
    .header--search-form--field,
    .header--search-form--label,
    .post-detail--footer,
    .post-detail--footer--meta--time {
        display: none
    }
    .post-detail .aside {
        position: static!important
    }
    .header--search-form {
        position: relative;
        width: 175px;
        margin-top: 3px;
        float: left
    }
    .navbar-ph-second {
        margin-top: 64px
    }
    .media-placeholder {
        margin-left: 5px!important;
        width: 92%
    }
    .post-detail .placeholder {
        margin-left: 5px;
        width: 92%
    }
    .ph-lhs .section {
        margin-left: 15px
    }
    #comments .section {
        margin-left: 0
    }
    .title-link {
        font-size: 30px;
        padding: 5px
    }
    .post-detail--footer-2 {
        width: 100%!important
    }
    .ph_em {
        color: #bbb;
        right: 20px;
        position: absolute;
        top: 40%
    }
    .brand-head {
        width: 30px;
        float: left
    }
}

@media only screen and (max-width: 675px) {

    .header--search-form,
    .ph-nav-center {
        display: none
    }
    .ph-grid-view {
        position: absolute;
        left: 15px
    }
    .topnav-options {
        margin-top: 8px;
        width: 60px
    }
    .ph-nav-center-mobile {
        display: block;
        margin: auto;
        width:100px;
        margin-left:50%;
    }
    .ph-nav-center-mobile .spacer{
        margin-left:-50px;
    }
    .ph-dots,
    .post-meta-hunt {
      
    }
    .hopt {
        top: -7px;
        position: relative
    }
    .site-logo {
        margin-top: -5px
    }
    .wp-post-image {
        width: 100%;
        height: 140px
    }
    .description {
        width: 100%;
        text-align: justify
    }
    .grid_layout .hunt-row {
        width: 335px;
        float: left;
        margin-right: 35px;
        position: relative;
        min-height: 350px;
        margin-left: 0
    }
    .grid_layout .wp-post-image {
        width: 315px
    }
    .grid_layout .reddit-post-mob {
        width: 96%!important
    }
    .ph-mobile-nav li {
        display: block;
        padding: 5px;
        margin-left: -30px
    }
    #user-dropdown-menu:after,
    #user-dropdown-menu:before {
        position: absolute;
        display: inline-block;
        content: ''
    }
    .ph-mobile-nav li a {
        color: #bbb;
        display: inline-block;
        width: 100%;
        padding: 5px;
        text-align: center
    }
    .ph-mobile-nav {
        left: -72px!important;
        margin-top: 10px
    }
    #user-dropdown-menu {
        left: -125px
    }
    #user-dropdown-menu:before {
        top: -7px;
        right: 12px;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, .2)
    }
    #user-dropdown-menu:after {
        top: -6px;
        right: 13px;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #fff;
        border-left: 6px solid transparent
    }
    .ph-nav-center-mobile .fa-caret-down {
        color: #a8acb3;
        margin-left: 8px;
        margin-top: 8px;
        font-size: 11px
    }


}


@media only screen and (max-width: 480px) {
    .header--search-form,
    .ph-nav-center {
        display: none
    }
    .ph-grid-view {
        position: absolute;
        left: 15px
    }
    .topnav-options {
        margin-top: 8px;
        width: 60px
    }
    .ph-nav-center-mobile {
        display: block;
        margin: auto;
        width: 100px;
        left: 50%;
        position: absolute
    }
    .ph-dots,
    .post-meta-hunt {
        
    }
    .hopt {
        top: -7px;
        position: relative
    }
    .site-logo {
        margin-top: -5px
    }
    .wp-post-image {
        width: 100%;
        height: 140px
    }
    .description {
        width: 100%;
        text-align: justify
    }
    .grid_layout .hunt-row {
        width: 335px;
        float: left;
        margin-right: 35px;
        position: relative;
        min-height: 350px;
        margin-left: 0
    }
    .grid_layout .wp-post-image {
        width: 315px
    }
    .grid_layout .reddit-post-mob {
        width: 96%!important
    }
    .ph-mobile-nav li {
        display: block;
        padding: 5px;
        margin-left: -30px
    }
    #user-dropdown-menu:after,
    #user-dropdown-menu:before {
        position: absolute;
        display: inline-block;
        content: ''
    }
    .ph-mobile-nav li a {
        color: #bbb;
        display: inline-block;
        width: 100%;
        padding: 5px;
        text-align: center
    }
    .ph-mobile-nav {
        left: -7hea2px!important;
        margin-top: 10px
    }
    #user-dropdown-menu {
        left: -125px
    }
    #user-dropdown-menu:before {
        top: -7px;
        right: 12px;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, .2)
    }
    #user-dropdown-menu:after {
        top: -6px;
        right: 13px;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #fff;
        border-left: 6px solid transparent
    }
    .ph-nav-center-mobile .fa-caret-down {
        color: #a8acb3;
        margin-left: 8px;
        margin-top: 8px;
        font-size: 11px
    }
}

#rightm .dropdown{
    margin-top:15px;
}

.page .hentry{
    margin-top:50px;
}

#leftm .site-logo{
    display:none;
}

.ph-slide-wrap{
    display:none !important;
}

.discuss-switch{
    margin-bottom:150px;
}

.ph-list-thumbnail img{
    width: 340px;
    border-radius: 0px;
}

.ph-hero .below .cta {
width: 317px !important;
}

.ph-landing-content .darkone .waitingimg .waitingi {
    margin: auto;
    width: 350px !important;
    height: 475px !important;
    background-size: cover;
}

.bloggy{
    width: 70%;
    margin-left: 81px;
}

.ph-landing-content .final{
        width: 350px;
    margin-left: 8px;
}

.final-proof{
    width: 380px;
    margin-left: -3px !important;
}

.ph-hero-page .navbar{
    display:none;
}


.bottom-paddy{
    margin-bottom:45px;
}



.ph-hero-page a{
    float: left;
    width: 100%;
}

.ph-hero .intro h1 {
    margin-bottom: 0;
    font-size: 18px !important;
    line-height: 40px;
    color: white;
}

.ph-hero .intro {
    margin-top: 15px !important;
}

.ph-hero .for {
    font-size: 46px !important;
    color: white;
    font-weight: 900;
}

.ph-hero .phlander {
    width: 425px !important;
    height: 240px !important;
    background-size: cover;
    margin-left: -48px;
    cursor: pointer;
}

.woo-wrap{
    margin-top: 100px !important;
}

.woo{
    left: 60px !important;
    margin-top: 0px;
    font-size: 16px;
    position:relative !important;
    margin-top: -69px;
    font-size: 16px !important;
    width: 290px !important;
}

.wooninja{
    width: 50px !important;
    height: 69px !important;
    background-size: cover;
    margin-top: -31px !important;
}

.ph-layout-1 .maincontent {
    margin-top: 10px !important;
}

.ph_mobile .ph-lhs .section {
    margin-left: 9px !important;
    width: 100%;
}

.ph-media-items {
    margin-left: 9px !important; 
    margin-right: 17px;
}

.ph_mobile .ph-layout-1 .reddit-wrapper {
    width: 100px !important;
}
.details-content {
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    padding: 10px;
    text-align: justify;
    padding: 20px;
    margin-right: 19px;
    padding-top: 0px;
}
.ph_mobile #comments{
    margin-left: -7px !important;
}


.grid_layout .ph-layout-1 .hunt-row {
    width: 380px !important;
    float: left;
    margin-right: 25px;
    position: relative;
    min-height: 350px;
    text-align: center;
    background-color: #eceae9;
}

.grid_layout .ph_mobile .reddit-post {
    width: 100% !important; 
}

.grid_layout .ph-layout-1 .hunt-row .wp-post-image {
    margin-right: 15px;
    height: 170px !important;
    width: 360px !important;
    margin-bottom: 5px;
}

.ph_mobile .ph-layout-1 .score {
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
    display: block;
    width: 100%;
    left: 5px;
}

.ph_mobile .ph-layout-1 .reddit-voting{
        width: 20px !important;
}

.discuss-switch{
    display:block !important;
}

.loginlogo {
    text-align: center;
    width: 95px;
    height: 95px;
    background: white;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top: 140px;
    left: 50%;
    margin-left: -45px;
}

